.navbar {
    margin-bottom: 0;
}
.navbar-brand {
    padding: 0;
}

.luis-logo {
    height: 100%;
    padding-left: 15px;

}

.cpa-header {
    background-color: #3BAFDA;
}
.calc-logo {
    width: 30%;
}
