a:link { color: #fff;}a:visited { color: #fff;}a:active {color:#000}a{text-decoration: none;}a:focus, a:hover { text-decoration: none;}

.space-100 {
    /* Creates a space of 100px in height*/
    width: 100%;
    height: 100px;
}
.white-smoke {
    background-color: #ECECEC;
}

.logo-blue {
    background-color: #2980b9;
}


.navbar {
    margin-bottom: 0;
    border: none;
}
.navbar-brand {
    padding: 0;
}

.luis-logo {
    height: 65px;
    padding-left: 15px;
}

.nav-link {
    padding-top: 10px;
    font-size: 20px;
    letter-spacing: 3.5px;
    font-family: 'Source Sans Pro', sans-serif;
}

.calc-logo {
    width: 30%;
}

.about-title {
    float: left;
    padding-right: 20px;
    text-transform: uppercase;
}

.sans-narrow-font {
    font-family: 'PT Sans Narrow', sans-serif;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.services-logos {
    float: left;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 35px;
}

.content {
    overflow: hidden;
}

.margin-b-20 {
    margin-bottom: 20px;
}

.jony-edit {
    margin-top: 25px;
    border: none;
    margin-bottom: 5px;
}

@media (max-width: 767px) {
    .contact-details {
        text-align: center;
    }
}

@@media (query) {

}
